<!DOCTYPE HTML5>
<html>
    <head>
        <!-- <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script> -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
        <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
        <script type="text/javascript" src="http://nvd3.org/nv.d3.js"></script>
        <link rel="stylesheet" href="http://nvd3.org/src/nv.d3.css">


        <style type="text/css">
            .slice text {
                font-size: 16pt;
                font-family: Arial;
            }

            #container {
                width: 50%;
                margin: 0 auto;
                /* margin-left: auto; */
                /* margin-right: auto; */
                /* width: 100%; */
            }
        </style>

    </head>
    <body>
        <h1>Total Size: <span id="total"></span></h1>
        <!-- <div id="container"><div id="viz" class="pie"></div></div> -->
        <div id="container">
            <div id="viz" class="pie">
                <svg></svg>
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='application.js') }}"></script>
    </body>
</html>

